[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
gino = "*"
sqlalchemy-utils = "*"
alembic = "*"
psycopg2-binary = "*"
uvicorn = "*"
email_validator = "*"

[requires]
python_version = "3.7"
