[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bandit = "*"
flake8 = "*"
rope = "*"

[packages]
fastapi = "*"
gino = "*"
sqlalchemy-utils = "*"
alembic = "*"
psycopg2-binary = "*"
uvicorn = "*"
email_validator = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
